<div class="question">
  <div class="question-content">
    <div class="">
      <% if question.author %>
        <%= link_to "От #{question.author.name}", user_path(question.author) %>
      <% else %>
        <%= 'автор не представился' %>
      <% end %>
    </div>

    <div class="question-text text-lead">
      <%= hashtag_to_link(question.text).html_safe %>
    </div>

    <% if question.answer.present? %>
      <div class="question-answer text-lead">
        <%= hashtag_to_link(question.answer).html_safe %>
      </div>
    <% end %>

    <div class="question-date">
      <%= l(question.created_at, format: :short) %>
    </div>
  </div>

  <% if question.user == current_user %>
    <% edit_icon = question.answer.blank? ? 'reply' : 'pencil' %>

    <div class="question-actions">
      <%= link_to fa_icon(edit_icon), edit_question_path(question) %>
      <%= link_to fa_icon('trash-o'), question_path(question),
                  method: :delete, data: {confirm: 'Точно удалить вопрос?'} %>
    </div>
  <% end %>
</div>
